h1 {
    text-align: center;
    display: inline-block;
    margin: 30px 40px;
    color: white;
}

.cost-complexity-options {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    justify-items: center;
    position: relative;
    bottom: 35px;
    
    
    
}

select {
    width: 200px;
    height: 30px;
}
.section {
    display: contents;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    margin: 15px 0;
}


.section label {
    
    position: relative;
    left: 10rem;
    color: white;
}
.section select
{
    display: block;
    text-align: center;
    width:69%;
    margin: 0;  
}

.score input {
    margin-left: 0;
    text-align: center;
}
.section span
{
    position: relative;
    right:75px;
    

}

.total-section .score {
    grid-column: 3; 
}



#total-input {
    text-align: center;
    font-weight: bold;
    
}

.h1-1 {
    position: relative;
    left: 170px;
}

.h1-3
{
    position: relative;
    right:90px;
}

